In [3]:
import string
import re
import codecs
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
from sklearn import feature_extraction
from sklearn import linear_model
from sklearn import pipeline
from sklearn.model_selection import train_test_split as t_split
from sklearn import metrics

In [26]:
df = pd.read_csv(r'./Language Detection.csv')
eng_df = df.loc[df['Language'] == 'English']
eng_df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [28]:
print(len(eng_df), len(df))

1385 10337

In [29]:
german_df = df.loc[df['Language'] == 'German']
german_df.head()

                                                   Text Language
9498  .Wir sind alle auf der Suche nach schnellen We...   German
9499  Ich weiß, ich verstehe, was passiert, ist, das...   German
9500                          Wie wäre es also mit uns?   German
9501  Lernen Sie einige intelligente neue englische ...   German
9502  Also werden wir heute 10 neue intelligente Wör...   German

In [31]:
french_df = df.loc[df['Language'] == 'French']
french_df.head()

                                                   Text Language
3250  Si vous disposez d'ouvrages ou d'articles de r...   French
3251                      Comment ajouter mes sources ?   French
3252  Cette page ou section est en train d'être trad...   French
3253  Vous pouvez aider au développement de Wikipédi...   French
3254  Le mot nature est un terme polysémique (c’est-...   French

In [32]:
spanish_df = df.loc[df['Language'] == 'Spanish']
italian_df = df.loc[df['Language'] == 'Italian']